/* #header{
    background-color: aqua;
} */
#footer{
    background-color: black;
}
#bgc{
    background-color: #e2dede;
}
/* #bottomMiddleComponent{
    background-color: blueviolet;
}
#topMiddleComponent{
    background-color: cornflowerblue
}
#topNavComponent{
    background-color: darkslateblue
}
#bodyComponent{
    background-color: darkorange;
}
#summaryComponent{
    background-color: fuchsia;
}
#experienceComponent{
    background-color: limegreen;
}
#educationComponent{
    background-color: sandybrown;
}
#skillsComponent{
    background-color: lightslategrey;
} */